modules = ["web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
FIREBASE_API_KEY = "AIzaSyCFkSihHWabFfNVsL--854mXUcokCSAE7k"
FIREBASE_AUTH_DOMAIN = "one-chat-connect.firebaseapp.com"
FIREBASE_PROJECT_ID = "one-chat-connect"
FIREBASE_STORAGE_BUCKET = "one-chat-connect.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "331276638740"
FIREBASE_APP_ID = "1:331276638740:web:b5ef67ad5bec782bffe501"
